*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#f5f5f5;
}

/* Navbar */

nav{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    transition:.4s;
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:white;
}

.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:30px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:.3s;
    padding:8px 15px;
}

.nav-links a:hover{
    background:#00c6ff;
    color:white;
    border-radius:20px;
}

/* Scroll Effect */

.scrolled{
    background:white;
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    padding:15px 60px;
}

.scrolled .logo{
    color:#111;
}

.scrolled .nav-links a{
    color:#111;
}

.scrolled .nav-links a:hover{
    color:white;
}

/* Hero */

.hero{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?w=1600");
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.hero h1{
    font-size:60px;
}

.hero p{
    margin:20px;
    font-size:22px;
}

.btn{
    text-decoration:none;
    background:#00c6ff;
    color:white;
    padding:15px 30px;
    border-radius:30px;
}

/* Sections */

section:not(.hero){
    min-height:100vh;
    padding:120px 80px;
}

section:nth-child(even){
    background:#ffffff;
}

section:nth-child(odd){
    background:#eeeeee;
}

/* Mobile */

.menu-btn{
    display:none;
    font-size:32px;
    color:white;
    cursor:pointer;
}

@media(max-width:768px){

    nav{
        padding:20px;
    }

    .menu-btn{
        display:block;
    }

    .nav-links{
        position:absolute;
        top:80px;
        left:-100%;
        width:100%;
        background:#111;
        flex-direction:column;
        text-align:center;
        transition:.4s;
    }

    .nav-links.active{
        left:0;
    }

    .nav-links li{
        margin:20px 0;
    }

    .hero h1{
        font-size:38px;
    }

    .hero p{
        font-size:18px;
    }
}